/uxcam-react-wrapper/package.json   @uxcam/maintainers
/.github/                           @uxcam/maintainers @uxcam/security-team
/.github/workflows/                 @uxcam/maintainers @uxcam/security-team
